body, html
    margin 0
    width 100%
    height 100%

body
    box-sizing border-box
    font-family sans-serif
    font-size 15px
    background #e2e2e2

.text-center
    text-align center

.mainContent
    display flex
    justify-content center
    align-items center
    width 100%
    height 100%

.section
    padding 25px
    background #FFF
    border 1px solid #2e3436

.btn-primary
    height 30px
    text-transform uppercase

.counter
    position: absolute;
    right: 10px;
    top: 10px;
    background: #000;
    color: #ff0;
    font-size: 30px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;

.item-counter
    color #000
    background #FFF
    border 1px solid #000
    font-size 30px
    padding 10px

.counter-icon
    color: #FFF

.counter-time
    display flex
    padding 10px
    min-width 80px
    justify-content space-between

.item-text
    font-size 28px

.item-controls
    display flex
    width 100%
    padding 20px 0
    justify-content center
    align-items center

.item-response
    height 30px
    font-size 25px
    width 100%
    min-width 450px

.region-control
    label
        display block
        padding-left 25px
        margin-bottom 10px

[v-cloak]
    display: none!important
